.element__group-title {
    margin: 0;
    padding: 23px 25px 26px 21px;
    max-width: 282px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}