.profile-info__title-group {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 22px 0 8px 0;
    justify-content: flex-start;
    max-width: 366px;
}
@media (max-width: 600px) {
    .profile-info__title-group {
        max-width: 282px;
        margin: 0 auto;
        padding: 0 0 9px 0;
        justify-content: center;
    }
}
