.element__group-title-delete {
    background-image: url('../../../images/Group.svg');
    position: absolute;
    top:20px;
    right: 20px;
    width: 19px;
    height: 19px;
    background-color: transparent;
    background-size: cover;
    border: none;
}
.element__group-title-delete:hover {
    opacity: 0.7;
    cursor: pointer;
}