.profile-info__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 366px;
}
@media (max-width: 600px) {
    .profile-info__subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin: 0 auto;
        width: 88.125%;
        text-align: center;
    }
}